.wd-account-sidebar {
  width: 190px;
  background-color: white;
  padding: 0 25px;
  margin-right: 30px;
  height: 100%;
}

.wd-account-sidebar ul {
  list-style: none;
  padding: 0;
}

.wd-account-sidebar li {
  margin: 15px 0;
}

.wd-account-sidebar a {
  color: red;
  text-decoration: none;
  display: block;
  padding-left: 10px;
  font-size: 15px;
  max-width: 100%;
  white-space: wrap;
}

.wd-account-sidebar a.selected {
  color: black;
  border-left: 2px solid black;
  padding-left: 8px;
}
